*{
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	color: #355376;
} 
h1{
	font-family: 'GranaPadanoMedium';
	font-weight: normal;
	font-style: normal;
}
body{
	width: 60%;
	margin: 0 auto;
	background-image:url("water.png");
}
#content {
	overflow: auto;
}
#nav, #feature, #footer {
	margin: 1%;
}
li {
	display: inline;
	padding: 0.5em;
}
#nav, #footer {
	background-color: #70A4CD;
	padding: 0.5em 0;
}
#feature{
	background-color: #FFFAF2;
	height: 20em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.01em
	
}
a, .footer{
	color: #FFFAF2;
}
